html, body {
  height: 100%; /* Ensure the body takes the full height */
  margin: 0; /* Remove default margin */
  padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 100vh;
    position: relative;
  }

.item {
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.btn {
  border-radius: 10px;
  background-color: green;
  color: white;
  border: none;
  padding: 1rem 3rem;
  position: absolute;
  top: 50%;
  left: 43.8%;
}